html{
    font-family: 'Alexandria', sans-serif;
}

#text{
    background-color: red;
    align-items: center;
    justify-content: center;
    height: 10vw;
    margin-top:25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    text-align: center;
    display: block;
    animation: rip 4.5s;
}

.please{
    text-align: center;
    color: antiquewhite;
}

.fragile{
    text-align: center;
    background-color: antiquewhite;
    height: 5vw;
    font-size: x-large;

}
@keyframes rip{
    50% {
        rotate: 0deg;
      }
    
      56% {
        rotate: -4deg;
      }
      60% {
        rotate: 4deg;
      }
    
      64% {
        rotate: -4deg;
      }
    
      89% {
        rotate: 6deg;
      }
    
      100% {
        rotate: -6deg;
      }
    }


#boom{
    width: 200px;
    height: 200px;
    position:absolute;
    animation-name: boom;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    background-size: contain;
    opacity: 0;
    animation-timing-function: linear;
    background-image: url("https://media.tenor.com/aZMV_bT0gVEAAAAj/the-blobs-live-on-bomb.gif");
}

@keyframes boom {
  0% {
    opacity: 1;
    left: 0px;
    top: 0px;
    background-image: url("https://media.tenor.com/aZMV_bT0gVEAAAAj/the-blobs-live-on-bomb.gif");
  }

  45% {
    background-image: url("https://media.tenor.com/aZMV_bT0gVEAAAAj/the-blobs-live-on-bomb.gif");
  }

  50% {
    top: 80vh;
    opacity: 1;
    background-image: url("https://media.tenor.com/aZMV_bT0gVEAAAAj/the-blobs-live-on-bomb.gif");
  }

  70% {
    top: 80vh;
    opacity: 0;
    background-image: url("https://media.tenor.com/aZMV_bT0gVEAAAAj/the-blobs-live-on-bomb.gif");
  }
}

